<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drivingevaluate" >

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name=".app.DEApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:windowSoftInputMode="adjustPan|adjustUnspecified|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.MerchantDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.ApplyDSchoolActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.MerchantMapActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.ResultCoachActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.ResultMerchantIntroActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.ResultSchoolActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.CoachInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.RegActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.UserInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.AlterPwdActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.AboutActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.UserOrderActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.MomentActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.MsgActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.SelectCityActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.ViewImgActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.AddMomentActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.MomentDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.SearchActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.ConsultActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.EvaluationActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.GetMoneyActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.UserMoneyActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.MerchantConsultActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.UserSignActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.EvaluateActivity" android:screenOrientation="portrait" />

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="nl.changer.polypicker.ImagePickerActivity" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="rD2WGNZfcHqDXNUPGfRGglQn" />
    </application>

</manifest>
