<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drivingevaluate" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />10.0.
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name=".app.DEApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustUnspecified|stateHidden" />
        <activity android:name=".ui.DSchoolInfoActivity" />
        <activity android:name=".ui.ApplyDSchoolActivity" />
        <activity android:name=".ui.DSchoolMapActivity" />
        <activity android:name=".ui.ResultCoachActivity" />
        <activity android:name=".ui.ResultDSchoolInfoActivity" />
        <activity android:name=".ui.ResultSchoolActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.CoachInfoActivity" />
        <activity android:name=".ui.RegActivity" />
        <activity android:name=".ui.UserInfoActivity" />
        <activity android:name=".ui.AlterPwdActivity" />
        <activity android:name=".ui.AboutActivity" />
        <activity android:name=".ui.MyOrderActivity" />
        <activity android:name=".ui.MomentActivity" />
        <activity android:name=".ui.MsgActivity" />
        <activity android:name=".ui.SelectCityActivity" />
        <activity android:name=".ui.ViewImgActivity" />
        <activity android:name=".ui.AddMomentActivity" />
        <activity android:name=".ui.MomentDetailActivity" />
        <activity android:name=".ui.SearchActivity" />
        <activity android:name=".ui.ConsultActivity" />

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="rD2WGNZfcHqDXNUPGfRGglQn" />
    </application>

</manifest>
